<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.face.mybatis.memberMapper">
	<!--========================= 회원가입=================================== -->
	<insert id="memberInsert" parameterType="MemberVO">
	    insert into student values(#{id}, #{pw}, #{phone}, 'Unregistered')
	</insert>
	
	<!--========================= 로그인=================================== -->
	<select id="login" resultType="MemberVO">
		select * from student where id = #{id} and pw = #{pw}   
	</select>
	
	<!--========================= 이메일 중복 확인=================================== -->	
	<select id="doubleCheck" resultType="int">
		select count(*) from student where id = #{id}  
	</select>
	
	<!--================ 얼굴 사진 등록 후 student테이블의  img 컬럼 변경 ===================== -->
	<update id="faceRegistration" parameterType="String">	   
	    update student set img = 'Registered' where id = #{id}
	</update>
	
	<!--================ 회원정보 수정 페이지에서 수정하기 전 본인인증 ===================== -->
	<select id="pwCheck" parameterType="String">
		select pw from student where id = #{id}   
	</select>
	
</mapper>
